@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@400;600;700&display=swap');

.post--card {
    font-family: 'Playfair', serif;
    font-weight: 600;
    margin: 0;
}

.userProfile {
    font-family: 'Playfair', serif;
    font-weight: 350;
    margin: 0;
}

.posts--author {
    font-family: 'Playfair', serif;
    font-weight: 600;
    margin: 0;
}


.curUseProf {
    background-color: #f9f5ed;
    font-family: 'Poppins', sans-serif;
    color: #53696b;
    text-align: center;
}

.posts-header {
    margin-bottom: 1em;
}

.post-card {
    margin-top: 2em;
    font-family: 'Playfair', serif;
    font-weight: 600;
    margin: 0;
}

.post-details-container {
    margin: 3em;
}

.Addbutton {
    float: right;
    background-color: #b7813e;
}

.UserSkills {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100px;
    padding: 0;
    line-height: 1.5em;
    font-style: italic;
}
h3 {
    font-family: 'Playfair', serif;
    font-weight: 400;

}

.btn-secondary {
    font-family: 'Poppins', sans-serif;
    background-color: #b7813e !important;
    border-color: #f9f5ed;
    color: #f9f5ed;
    width: 200px;

}

#up_card {
    background-color: #ebe6d9;
    text-align: center;
}





.AddSkillButton {
    width: 120px !important;
    height: 30px !important;
}
h1 {
    color: #1d3c35 !important;
    font-family: 'Playfair', serif !important;
    font-weight: 350;
}

h3 {
    color: #1d3c35 !important;
}

element.style {
    color: #f9f5ed;
}

.userProfile {
    padding-bottom: 25px;
}

.UserSkillsHeader {
    padding-top: 30px;
}

.InterestedSkills {
    padding: 40px
}

.view_btn {
    font-family: 'Poppins', sans-serif;
    background-color: #b7813e !important;
    border-color: #f9f5ed !important;
    color: #f9f5ed !important;
    width: 120px !important;
}

