@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@400;600;700&display=swap');

.posts-container {
    margin: 0 auto;
}

.posts--category {
    font-family: 'Playfair', serif;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.posts--author {
    font-family: 'Playfair', serif;
    text-align: center;
}
.posts--date {
    font-family: 'Playfair', serif;
    text-align: center;
    padding-bottom: 30px;
}


.posts-title {
    color: #000;
}

.posts-header {
    margin-bottom: 1em;
}

.post-card {
    margin-top: 2em;
    background-color: #ebe6d9;
}

.post-details-container {
    margin: 3em;
}

.post-details-buttons {
    float: right;
}

.post-details {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
h3 {
    text-align: center;
}